{% extends "base.html" %}
{% comment %}
Ver o comentário em password_change_done.html: esta tela também é vista
por tenant e por Owner, então precisa dos dois pares de bloco.
{% endcomment %}
{% block title %}Alterar senha · Ciclartech{% endblock %}
{% block page_title %}Alterar senha{% endblock %}
{% block owner_page_title %}Alterar senha{% endblock %}
{% block content %}
{% include "registration/_password_change_form_conteudo.html" %}
{% endblock %}
{% block owner_content %}
{% include "registration/_password_change_form_conteudo.html" %}
{% endblock %}
